---
- name: Set sap_hosts_group based on the input
  hosts: localhost
  gather_facts: false
  tasks:
    - name: Set sap_hosts_group variable dynamically based on location
      ansible.builtin.set_fact:
        sap_hosts_group: >-
          {{ 'sap' if location == 'both' else
             hostvars[item].cluster_name if location == hostvars[item].city
             else 'sap' }}
      with_items: "{{ groups['sap'] }}"
      when: location is defined

- name: Create SAP Volumes, Qtrees, and LUNs
  hosts: "{{ hostvars['localhost']['sap_hosts_group'] }}"
  serial: 1
  gather_facts: false
  tasks:
    - name: Include role create_luns
      ansible.builtin.include_role:
        name: create_luns
      loop: "{{ sap_environment[sap_env] | list }}"
      loop_control:
        loop_var: type
        label: "Create environment for: {{ type.name }}"
