---
- name: Set sap_hosts_group based on the input
  hosts: localhost
  gather_facts: false
  tasks:
    - name: Set sap_hosts_group variable dynamically based on location
      ansible.builtin.set_fact:
        sap_hosts_group: >-
          {{ 'sap' if location == 'both' else
             hostvars[item].cluster_name if location == hostvars[item].city
             else 'sap' }}
      with_items: "{{ groups['sap'] }}"
      when: location is defined

- name: Create Initiator Groups for SAP OS LUNs
  hosts: "{{ hostvars['localhost']['sap_hosts_group'] }}"
  serial: 1
  gather_facts: false
  tasks:
  #  - name: Execute a script on the AIX jump host
  #    ansible.builtin.raw: "{{ get_wwn_cmd }}"
  #    register: initiators
#
  #  - name: Show initiators (must be a comma separeted list)
  #    ansible.builtin.debug:
  #      msg: "{{ initiators.stdout_lines | join(',') }}"

    - name: Include role igroup
      ansible.builtin.include_role:
        name: ontap.igroup
      vars:
        state: present
        vserver: "{{ vserver_sap_fc }}"
        name: "fcp_{{ aix_host }}_01"
        initiator_group_type: fcp
        initiator_names: "{{ initiators }}"
        os_type: "{{ os_type }}"

- name: Create SAP OS Volumes, Qtrees, and LUNs
  hosts: "{{ hostvars['localhost']['sap_hosts_group'] }}"
  serial: 1
  gather_facts: false
  tasks:
    - name: Include role create_luns
      ansible.builtin.include_role:
        name: sap_create
      vars:
        type: "{{ sap_os }}"
        os_type: "{{ os_type }}"
