---
- name: Execute a script on the AIX jump host
  hosts: aix_jumphost
  gather_facts: false
  tasks:
#    - name: Execute the refresh prepare aix command
#      # ansible.builtin.raw: "{{ refresh_prepare_cmd }} {{ source_server }} {{ destination_server }}"
#      ansible.builtin.raw: "echo 'WFA STATUS MESSAGE : SCRIPT 1_refresh_prepare.ksh COMPLETED SUCCESSFULLY'"
#      register: myout
#      failed_when: "'WFA STATUS MESSAGE : SCRIPT 1_refresh_prepare.ksh COMPLETED SUCCESSFULLY' not in myout.stdout_lines"
#      when: execute_refresh_prepare_aix_command and sap_hosts_group == "sap"

- name: Rename or delete cloning volume no 06
  hosts: "{{ hosts_group | default('sap') }}"
  serial: 1
  gather_facts: false
  vars:
    source_server: server308
    destination_server: server309
  tasks:
    - name: Cleanup task. Unmap Luns, delete or rename volume _06
      ansible.builtin.include_role:
        name: sap_cloning
        tasks_from: cleanup.yml
      vars:
        volume_name: "{{ volume_sap_clone[1].destination_name }}"

- name: Clone volumes from latest snapshot and mount all LUNs in it for both volumes
  hosts: "{{ hosts_group | default('sap') }}"
  serial: 1
  gather_facts: false
  vars:
    source_server: server308
    destination_server: server309
  tasks:
    - name: Cloning task. Clone from latest snapshot and mount all LUNs in it
      ansible.builtin.include_role:
        name: sap_cloning
        tasks_from: clone_and_mount.yml
      loop: "{{ volume_sap_clone }}"
      loop_control:
        label: "Clone volume {{ volume.source_name }}"
        loop_var: volume
      when: not clean_only

# - name: Execute a script on the AIX jump host
#   hosts: aix_jumphost
#   gather_facts: false
#   tasks:
#     - name: Execute the refresh complete aix command
#       ansible.builtin.raw: "{{ refresh_complete_cmd }} {{ source_server }} {{ destination_server }}"
#       register: myout
#       failed_when: "'WFA STATUS MESSAGE : SCRIPT 2_refresh_complete.ksh COMPLETED SUCCESSFULLY' not in myout.stdout_lines"
#       when: execute_refresh_complete_aix_command and sap_hosts_group == "sap"

- name: Delete clone volume {{ volume_sap_clone[0].destination_name }}
  hosts: "{{ hosts_group | default('sap') }}"
  serial: 1
  gather_facts: false
  vars:
    source_server: server308
    destination_server: server309
  tasks:
    - name: Cleanup task. Unmap Luns and delete {{ volume_sap_clone[0].destination_name }}
      ansible.builtin.include_role:
        name: sap_cloning
        tasks_from: cleanup.yml
      vars:
        volume_name: "{{ volume_sap_clone[0].destination_name }}"
        delete_volume_05: true
      when: not clean_only

- name: Send mail notification
  hosts: localhost
  gather_facts: false
  tasks:
    - name: Send e-mail notification
      ansible.builtin.mail:
        host: "{{ mail.host }}"
        from: "{{ mail.from }}"
        to: "{{ mail.to }}"
        subject: "SAP Cloning"
        body: "SAP system {{ destination_server }} just became a clone.\nPlease verify its backup"
      when: not clean_only
