---
- name: Set sap_hosts_group based on the input
  hosts: localhost
  gather_facts: false
  tasks:
    - name: Initialize sap_hosts_group
      ansible.builtin.set_fact:
        sap_hosts_group: []

    - name: Set sap_hosts_group based on location
      ansible.builtin.set_fact:
        sap_hosts_group: "{{ sap_hosts_group + [item] }}"
      with_items: "{{ groups['sap'] }}"
      when:
        - location is not defined or location == 'sap' or location == 'both' or location == hostvars[item].city

- name: Delete SAP LUNs
  hosts: "{{ hostvars['localhost']['sap_hosts_group'] }}"
  serial: 1
  gather_facts: false
  tasks:
    - name: Include role sap_delete
      ansible.builtin.include_role:
        name: sap_delete
