---
- name: Set vserver and cluster based on location
  hosts: localhost
  gather_facts: false
  tasks:
    - name: Get matching host based on location
      ansible.builtin.set_fact:
        matched_host: "{{ item }}"
      with_items: "{{ groups['fss_leg'] }}"
      when: hostvars[item].city == location

    - name: Get opposit host based on location
      ansible.builtin.set_fact:
        opposit_host: "{{ item }}"
      with_items: "{{ groups['fss_leg'] }}"
      when: hostvars[item].city != location

    - name: Set vserver and cluster facts
      ansible.builtin.set_fact:
        cluster_match: "{{ hostvars[matched_host].cluster_name }}"
        vserver_match: "{{ hostvars[matched_host].vserver_smb_leg }}"
        cluster_opposit: "{{ hostvars[opposit_host].cluster_name }}"
        vserver_opposit: "{{ hostvars[opposit_host].vserver_smb_leg }}"

    - name: Include role reverse_resync
      ansible.builtin.include_role:
        name: reverse_resync
