---
- name: Create lun {{ lun.name }}
  ansible.builtin.include_role:
    name: sgs.ontap.lun
  vars:
    state: present
    vserver: "{{ vserver_sap_fc }}"
    flexvol_name: "{{ volume.name }}"
    qtree_name: "{{ qtree.name }}"
    name: "{{ lun.name }}"
    size: "{{ lun.size_gb }}"
    size_unit: gb
    space_allocation: false
    space_reserve: false

- name: Map LUN {{ lun.name }}
  ansible.builtin.include_role:
    name: sgs.ontap.lun
    tasks_from: map.yml
  vars:
    state: present
    vserver_name: "{{ vserver_sap_fc }}"
    initiator_group_name: "fcp_{{ aix_host }}_01"
    path: "/vol/{{ volume.name }}/{{ qtree.name }}/{{ lun.name }}"
    lun_id: "{{ lun.lun_id }}"
