- name: Show volumes
  ansible.builtin.debug:
    msg: "{{ volume}}"

- name: Create volume {{ volume.name }}
  ansible.builtin.include_role:
    name: sgs.ontap.volume
  vars:
    state: present
    vserver: "{{ vserver_sap_fc }}"
    aggregate_name: "{{ best_aggregate }}"
    name: "{{ volume.name }}"
    size: "{{ volume.size_gb }}"
    snapshot_policy: none
    atime_update: false
    space_guarantee: none
    percent_snapshot_space: 0
    volume_security_style: unix
    snapshot_auto_delete:
      state: "off"

- name: Loop over qtrees
  ansible.builtin.include_tasks:
    file: loop_qtrees.yml
  loop: "{{ volume.qtrees }}"
  loop_control:
    loop_var: qtree
    label: "Create qtree {{ qtree.name}}"
