---
- name: Get actual lun size from lun {{ lun.name }}
  ansible.builtin.include_role:
    name: sgs.ontap.rest
    tasks_from: info.yml
  vars:
    gather_subset: storage/luns
    fields: '*'
    parameters:
      svm.name: "{{ vserver_sap_fc }}"
      location.volume.name: "{{ volume_dict.name }}"
      location.logical_unit: "{{ lun.name }}"
    result_var: lun_size_info

- name: Show lun size information
  ansible.builtin.debug:
    msg: "LUN {{ lun.name }} has size {{ lun_size_info.ontap_info.storage_luns.records[0].space.size | int / 1024 / 1024 / 1024 }} GB and will be resized to {{ lun.size_gb }} GB"

- name: Resize lun {{ lun.name }}
  ansible.builtin.include_role:
    name: sgs.ontap.lun
  vars:
    state: present
    vserver: "{{ vserver_sap_fc }}"
    flexvol_name: "{{ volume_dict.name }}"
    name: "{{ lun.name }}"
    size: "{{ lun.size_gb }}"
    size_unit: gb
  when: (lun.size_gb | int) > (lun_size_info.ontap_info.storage_luns.records[0].space.size | int /1024 / 1024 / 1024)
