---
- name: Get info from lun {{ lun }}
  ansible.builtin.include_role:
    name: sgs.ontap.rest
    tasks_from: info.yml
  vars:
    gather_subset: storage/luns
    fields: '*'
    parameters:
      location.logical_unit: "{{ lun }}"
    result_var: lun_info

- name: Show Me
  ansible.builtin.debug:
    msg: "{{ lun_info }}"



