---
- name: Convert input variable volume from string to dictionary
  ansible.builtin.set_fact:
    volume_dict: "{{ volume | from_json }}"
  when: volume | type_debug == "str"

- name: Set input variable volume
  ansible.builtin.set_fact:
    volume_dict: "{{ volume }}"
  when: volume | type_debug == "dict"

- name: Get volume information for {{ volume_dict.name }}
  ansible.builtin.include_role:
    name: sgs.ontap.rest
    tasks_from: info.yml
  vars:
    gather_subset: storage/volumes
    parameters:
      svm.name: "{{ vserver_sap_fc }}"
      name: "{{ volume_dict.name }}"
    result_var: volume_info

- name: Resize volume {{ volume_dict.name }}
  ansible.builtin.include_role:
    name: sgs.ontap.volume
  vars:
    state: present
    vserver: "{{ vserver_sap_fc }}"
    name: "{{ volume_dict.name }}"
    size: "{{ volume_dict.size_gb }}"
  when: volume_info.ontap_info.storage_volumes.num_records == 1

- name: Loop over LUNs
  ansible.builtin.include_tasks:
    file: loop_luns.yml
  loop: "{{ volume_dict.luns }}"
  loop_control:
    loop_var: lun
    label: " Resize lun {{ lun.name }}"
  when: volume_info.ontap_info.storage_volumes.num_records == 1
