---
- name: Show
  ansible.builtin.debug:
    msg: "{{ volume }}"

- name: Debug volume type
  ansible.builtin.debug:
    msg: "Volume type: {{ volume | type_debug }}"

- name: Convert volume to dictionary
  ansible.builtin.set_fact:
    volume_dict: "{{ volume | from_json }}"

- name: Show volume name
  ansible.builtin.debug:
    msg: "{{ volume_dict.name }}"

- name: Resize volume {{ volume.name }}
  ansible.builtin.include_role:
    name: sgs.ontap.volume
  vars:
    state: present
    vserver: "{{ vserver_sap_fc }}"
    name: "{{ volume.name }}"
    size: "{{ volume.size_gb }}"

# - name: Loop over LUNs
#   ansible.builtin.include_tasks:
#     file: loop_luns.yml
#  loop: "{{ qtree.luns }}"
#  loop_control:
#    loop_var: lun
#    label: " Create lun {{ lun.name }}"