---
- name: Get LUNs from volume {{ volume }}
  ansible.builtin.include_role:
    name: sgs.ontap.rest
    tasks_from: info.yml
  vars:
    gather_subset: storage/luns
    fields: '*'
    parameters:
      svm.name: "{{ vserver_sap_fc }}"
      location.volume.name: "{{ volume }}"
      location.logical_unit: "{{ lun | default(omit) }}"
    result_var: lun_info

- name: Unmap LUNs in volume {{ volume }}
  ansible.builtin.include_role:
    name: sgs.ontap.lun
    tasks_from: map.yml
  vars:
    vserver: "{{ vserver_sap_fc }}"
    path: "{{ lun.name }}"
    initiator_group_name: "fcp_{{ aix_host }}_01"
    state: absent
  loop: "{{ lun_info.ontap_info.storage_luns.records }}"
  loop_control:
    label: "{{ lun.location.logical_unit }}"
    loop_var: lun
  when: lun_info.ontap_info.storage_luns.num_records > 0

- name: Delete LUNs
  ansible.builtin.include_role:
    name: sgs.ontap.lun
  vars:
    vserver: "{{ vserver_sap_fc }}"
    flexvol_name: "{{ lun.location.volume.name }}"
    name: "{{ lun.location.logical_unit }}"
    state: absent
  loop: "{{ lun_info.ontap_info.storage_luns.records }}"
  loop_control:
    label: "{{ lun.location.logical_unit }}"
    loop_var: lun
  when: lun_info.ontap_info.storage_luns.num_records > 0
